:root {
  --sage: #CACAAA;
  --coolGrey: #8B8BBB;
  --russianViolet: #372554;
  --darkPurple: #231123;
  --oliveDrab7: #494331; 
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--coolGrey);
}

.navbar {
  background-color: var(--darkPurple);
}

.navbar a {
  color: white;
  font-weight: bold;
}

.jumbotron, .card{
  color: var(--russianViolet);
  background-color: var(--sage);
  border: 5px solid var(--darkPurple);
}

::placeholder {
  color: var(--oliveDrab7);
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-textarea,
.note-title {
  color: #372554;
  background-color: #CACAAA;
  border: 2px solid #231123;
  width: 100%;
  margin: 5px;
  outline: none;
}

.note-textarea {
  resize: none;
  height: calc(90% - 63px);

}

.note-title {
  height: 80px;
  font-size: 3rem;
}

.note-title:read-only,
.note-textarea:read-only {
  color: #8B8BBB;
}

.list-container .card {
  height: 85vh;
  border-bottom: none;
  margin: 1rem 0;
  background-color: transparent;
}

.list-container {
  padding-left: 0;
}

.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-item-title {
  display: inline-block;
  width: 75%;
  color: #372554;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  margin: .2rem;
  padding: 20px;
  cursor: pointer;
  background-color: #CACAAA;
}

@media (max-width: 750px) {

  .note-title {
    font-size: 2rem;
    height: 4rem;
  }

  #noteList {
    order: 1;
    width: 100%;
    margin: 1rem auto;
    padding: 0 15px;
  }

  .list-group {
    border-top: .2rem solid #231123;
  }
}
